n8n-workflows/axia-mcp-test-get-goals.json
{
  "name": "Axia MCP Test - Get Goals",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcp-axia:3000/mcp",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"tools/call\",\n  \"params\": {\n    \"name\": \"get_goals\",\n    \"arguments\": {\n      \"include_kpis\": true\n    }\n  },\n  \"id\": 1\n}",
        "options": {}
      },
      "id": "http-request",
      "name": "Call Axia MCP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract the text from MCP response\nconst mcpResponse = $input.item.json;\nconst goalsText = mcpResponse.result.content[0].text;\n\nreturn {\n  goals: goalsText,\n  raw_response: mcpResponse\n};"
      },
      "id": "code-node",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Call Axia MCP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Axia MCP": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-19T00:00:00.000Z",
  "versionId": "1"
}
